div section ul, div section li {
  border: inherit;
  border-radius: 0;
  list-style: none;
  margin: 0;
  padding: 0;
  float: none;
  width: inherit;
  height: inherit;
  margin-bottom: inherit;
}

div section li { display: inline-block; }

section li button {
  padding: 10px;
}

button {
  margin-right: 10px;
  margin-bottom: 10px;
  border-width: 2px;
  padding: 1px;
  background-color: rgb(var(--background-start-rgb));
  border-color: #aaa;
}
