h1 {
  margin-top: 0;
  font-size: 22px;
}

h2 {
  margin-top: 0;
  font-size: 20px;
}

h3 {
  margin-top: 0;
  font-size: 18px;
}

h4 {
  margin-top: 0;
  font-size: 16px;
}

h5 {
  margin-top: 0;
  font-size: 14px;
}

h6 {
  margin-top: 0;
  font-size: 12px;
}

code {
  font-size: 1.2em;
}

ul {
  padding-inline-start: 20px;
  list-style-type: none;
}

h1, h2 { margin: 5px; }
h1 { margin-bottom: 10px; }
div ul { padding: 0px 10px 0px 20px; }
div li {
  border: 1px solid #aaa;
  border-radius: 6px;
  float: left;
  margin: 5px;
  margin-bottom: 20px;
  padding: 5px;
  width: 70px;
  height: 100px;
}
div ul li { list-style:none; }

.day {
  background: #fff;
  color: #222;
}
.night {
  background: #222;
  color: #fff;
}
