@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-end-rgb));

  font-family: sans-serif;
  margin: 20px;
  padding: 0;
}
/* override style provided by tailwind*/
li {
  list-style: disc;
}

button {
  margin: 5px;
  border-width: 2px;
  padding: 1px;
  background-color: rgb(var(--background-start-rgb));
  border-color: #aaa;
}

input, textarea{
  margin: 1px;
  border-width: 2px;
  padding: 2px;
  border-color: #aaa;
}
